header{
    text-align: center;
}

body{
background-image: url(sfondo.jpg);
background-size: cover;
font-family: Arial, Helvetica, sans-serif;
}

.logo{
    margin-top: 30;
    width: 200px
}

.container-body{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    
}

.title{
    color: 00FF00;
} 

nav{
    text-align: center;
    background-color: 00FF00;
    height: 30px;
    padding-top: 10px;
}

main{
    color: white;
}

.full-battery{
    margin-left: 0;
    border-color: 00FF00;
    background-color: 00FF00;
    width: 80%;
    height: 20;
    border-radius: 7px;
}

.medium-battery{
    margin-left: 0;
    border-color: ffb429;
    background-color: ffb429;
    width: 40%;
    height: 20;
    border-radius: 7px;
}

.low-battery{
    margin-left: 0;
    border-color: fc3232;
    background-color: fc3232;
    width: 20%;
    height: 20;
    border-radius: 7px;
}

.user-section{
    margin-top: 20px;
}
.user{
    font-size: larger;
}

.location{
    font-size: medium;
}

.location::before{
    content: "\2192";
}